body{
    background-color:#aaaaaa
}
.jumbotron{
    background-color:#280000;
    color:white
}
.textcenter{
    text-align: center;
}
.roboto{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal
}
.jumbotron button{
    color:black
}