body{
    background-color:#eeeeee
}
.jumbotron{
    background-color:#004466;
    color:white
}
.textcenter{
    text-align: center;
}
.roboto{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal
}
.jumbotron button{
    color:black
}
.jumbotron input {
    color: black
}
footer{
    align-self: end;
    position:relative;
    bottom:-20px;
}
button {
    height: 50px;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal
}
.blogpost h2, .blogpost img, .blogpost p {
    margin: 10px
}
.newblogs{
    margin: 20px
}
.newblogs .blogpost{
    margin: -20px /*Cancels the margin*/
}
.flex-container{
    display:flex;
    justify-content:center;
}
    .flex-container > div {
        width: 100px;
        background-color: #004466;
        color: white;
        text-align: center;
        line-height: 50px;
        margin: 10px;
        border-radius: 10px;
    }

